* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

/*NAV*/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;

  .logo {
    width: 11rem;
  }

  ul {
    display: flex;

    &.main-menu {
      flex: 1;
      margin-left: 2rem;
    }

    li {
      padding: 0 1rem;

      a {
        padding-bottom: 0;
      }

      a:hover {
      }
    }
  }
}

/*SHOWCASE*/
.showcase {
  width: 100%;
  height: 35rem;
  background: url('./ms_img/img/slide1.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem;
  font-size: 1.2rem;

  h2,
  p {
    margin-bottom: 1rem;
  }

  .btn {
    margin-top: 1rem;
    background: #262626;
    color: #fff;
    padding: 1rem 2rem;
  }
}
