@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  background-color: #f9f2f2;
  font-size: 1.3rem;
}

@mixin customShadow($size) {
  border: 0.2px solid rgba(0, 0, 0, 0.6);
  box-shadow: -$size $size 0 0 rgba(0, 0, 0, 0.2);
}

@mixin setDisplayWidth($width, $margin) {
  width: $width;
  margin: $margin auto;
}
// Header
header {
  display: grid;
  margin: 2rem auto;

  @include setDisplayWidth(90vw, 0);

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Narrow';

    div {
      padding: 0.5rem 0.8rem;
      @include customShadow(0.3rem);
    }
  }
}

nav {
  padding: 1.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
  }
}

.header_ul {
  float: left;
  
  li {
    margin-top: 26px;
    margin-left: 15px;
    float: left;
  }

  li:hover {
    color: grey;
  }

  .header_ul_home .header_ul_ul {
    display: none;
  }

  .header_ul_articles .header_ul_ul {
    display: none;
  }

  .header_ul_about .header_ul_ul {
    display: none;
  }

  .header_ul_home:hover .header_ul_ul {
    display: block;
  }

  .header_ul_articles:hover .header_ul_ul {
    display: block;
  }

  .header_ul_about:hover .header_ul_ul {
    display: block;
  }
}

.header_ul_ul {
  width: 100px;
	text-align: center;
	position: absolute;
	list-style: none;
	background: white;
	color: black;

  li {
    margin: 10px 15px 10px -25px;
	  float: none;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Section
section.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  min-width: 30rem;

  @include setDisplayWidth(90vw, 0);

  article {
    @include customShadow(0.3rem);

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 768px) {
  header {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr, 1fr, 1fr;
  }

  .logo {
    justify-self: center;
    text-align: center;
  }
}