html {
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 2em;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	transition: all 0.3s ease;
	color: #38CCCC;
	&:hover {
		color: #30ADAD;
	}
}
.tm-about-text {
	a {
		color: #9F6;
	}
}
h1 {
	color: white;
}
h2 {
	color: white;
}
p {
	color: white;
}
i {
	color: white;
}
address {
	color: white;
	font-style: normal;
}
.tm-text-white {
	color: white;
}
.tm-link-gray {
	color: #999999;
}
.tm-link-white {
	color: white;
}
.tm-footer {
	color: #999999;
	text-align: center;
}
.tm-container-fluid {
	width: 100%;
	max-width: 970px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 60px 15px;
}
.tm-site-header {
	height: 470px;
}
.tm-flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tm-about {
	display: flex;
	div {
		flex: 1 1;
	}
}
.tm-contact {
	display: flex;
	flex-direction: row-reverse;
	padding: 50px 20px;
	div {
		padding-left: 34px;
		padding-right: 34px;
		box-sizing: border-box;
	}
}
.tm-contact-form-container {
	width: 40%;
}
.tm-contact-info {
	width: 40%;
	padding-top: 20px;
}
.tm-contact-header {
	width: 20%;
	padding-left: 50px;
	padding-right: 50px;
}
input {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	background: transparent;
	border: 0;
	border-bottom: 1px solid white;
	color: white;
	padding: 15px 0;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}
textarea {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	background: transparent;
	border: 0;
	border-bottom: 1px solid white;
	color: white;
	padding: 15px 0;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}
button {
	display: block;
}
&::-webkit-input-placeholder {
	color: white;
}
&:-ms-input-placeholder {
	color: white;
}
&::placeholder {
	color: white;
}
.tm-right {
	margin-right: 0;
	margin-left: auto;
}
.tm-btn-submit {
	background: none;
	color: white;
	font-size: 1rem;
	border: 0;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: #000000;
	}
}
.tm-social-link {
	width: 40px;
	height: 40px;
	margin-right: 15px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		color: #99CCCC;
		transition: all 0.3s ease;
	}
	&:hover {
		i.fa-facebook {
			color: #3b5998;
		}
		i.fa-twitter {
			color: #00acee;
		}
		i.fa-instagram {
			color: #3f729b;
		}
	}
}
.tm-flex {
	display: flex;
}
.filters-button-group {
	text-align: right;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		list-style: none;
		margin-left: 40px;
		a.active {
			color: #F96699;
		}
	}
}
.tm-gallery {
	margin: -10px;
}
.tm-gallery-item {
	border-radius: 12px;
	margin: 10px;
	overflow: hidden;
	a {
		display: block;
		line-height: 0;
	}
	img {
		width: 220px;
		height: 220px;
	}
}
.tm-p-50 {
	padding: 50px;
}
.tm-mb-0 {
	margin-bottom: 0;
}
.tm-mb-30 {
	margin-bottom: 30px;
}
.tm-mb-40 {
	margin-bottom: 40px;
}
.tm-mb-50 {
	margin-bottom: 50px;
}
.tm-mb-80 {
	margin-bottom: 80px;
}
.tm-bgcolor-1 {
	background-color: #F96699;
}
.tm-bgcolor-2 {
	background-color: #38CCCC;
}
.tm-bgcolor-3 {
	background-color: #99CCCC;
}
.tm-border-rounded {
	border-radius: 15px;
}
@media (max-width: 940px) {
	.filters-button-group {
		text-align: left;
	}
}
@media (max-width: 680px) {
	.tm-contact {
		flex-direction: column;
	}
	.tm-contact-form-container {
		width: 100%;
		margin-bottom: 20px;
	}
	.tm-contact-info {
		width: 100%;
		margin-bottom: 30px;
	}
	.tm-contact-header {
		width: 100%;
	}
}
@media (max-width: 545px) {
	.tm-about {
		flex-direction: column;
	}
}
@media (max-width: 489px) {
	.tm-gallery-item {
		width: 48%;
		margin: 1%;
		height: auto;
		img {
			width: 100%;
			height: auto;
		}
	}
}