* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }
  
  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  
  /* Nav */
  
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  
    .logo {
      width: 110px;
    }
  
    ul {
      display: flex;
  
      li {
        padding: 0 10px;
  
        a {
          padding-bottom: 2px;
  
          &:hover {
            border-bottom: 2px solid #262626;
          }
        }
      }
  
      &.main-menu {
        flex: 1;
        margin-left: 20px;
      }
    }
  }
  
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
  
    &:hover {
      opacity: 0.9;
    }
  }
  
  .dark {
    color: #fff;
  
    .btn {
      background: #f4f4f4;
      color: #333;
    }
  }
  
  /* Showcase */
  .surface-content {
    padding-left: 5rem;
  }
  
  .showcase {
    width: 100%;
    height: 350px;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h2, p {
      margin-bottom: 10px;
    }
  
    .btn {
      margin-top: 20px;
    }
  }
  
  /* Home cards */
  
  .home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  
    h3 {
      margin-bottom: 5px;
    }
  
    a {
      display: inline-block;
      padding-top: 10px;
      color: #0067b8;
      text-transform: uppercase;
      font-weight: bold;
  
      &:hover i {
        margin-left: 10px;
      }
    }
  }
  
  /* Edge */
  
  .edge {
    width: 100%;
    height: 400px;
    background: url('./img/edge.jpg') no-repeat center (center / cover);
    text-align: center;
    margin-bottom: 20px;
  
    .content {
      width: 40%;
      margin: 0 30% auto;
      padding-top: 2rem;
    }
  
    p {
      margin: 10px 0 20px;
    }
  }
  
  /* Follow */
  
  .follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
  
    * {
      margin-right: 10px;
    }
  }
  
  /* Links */
  
  .links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;

    li {
        line-height: 2.8;
    }
  }
  
  .links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  
  
  /* Footer */
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;

    div {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
  
      i {
        margin-right: 10px;
      }
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  
    li {
      margin-right: 30px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 700px) {
    .menu-btn {
      display: block;
  
      &:hover {
        opacity: 0.5;
      }
    }
  
    .logo {
      display: block;
      margin: 47%;
    }
  
    .main-nav ul {
      &.right-menu {
        margin-right: 50px;
      }
  
      &.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 100%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-700px);
        transition: transform 0.5s ease-in-out;
  
        li {
          padding: 10px;
          border-bottom: #ccc solid 1px;
          font-size: 14px;
  
          &:last-child {
            border-bottom: 0;
          }
        }
  
        &.show {
          transform: translateX(-20px);
        }
      }
    }
  
    .showcase {
      height: auto;
      flex-direction: column-reverse;
    }
  
    .home-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .edge .content {
      p {
        display: none;
      }
  
      h2 {
        margin-bottom: 20px;
      }
    }
  
    .links .links-inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .home-cards {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner {
      grid-template-columns: 1fr;
  
      ul {
        margin-bottom: 20px;
      }
    }
  }