* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;

  .logo {
    width: 11rem;
  }

  ul {
    display: flex;

    &.main-menu {
      flex: 1;
      margin-left: 2rem;
    }

    li {
      padding: 0 0.7rem;

      a {
        padding-bottom: 2px;
      }

      a:hover {
        border-bottom: 2px solid #262626;
      }
    }
  }
}

.btn {
  margin-top: 1rem;
  background: #262626;
  color: white;
  padding: 0.7rem 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
}

.dark {
  color: #fff;

  .btn {
    background: #f4f4f4;
    color: #333;
  }
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 35rem;
  background: url('./img/slide1.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;


  h2,
  p {
    margin-bottom: 1rem;
  }


}

/* Home Cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 2rem;

  img {
    width: 100%;
    margin-bottom: 1rem;

  }

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  p{
    font-size: 0.9rem;
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    color: #0067b8;
    font-weight: bold;
    padding-top: 1rem;
  }
}

/* XBox */
.xbox {
  width: 100%;
  height: 350px;
  background: url('./img/xbox.png') no-repeat center center/cover;
  margin-bottom: 2rem;

  .content {
    width: 40%;
    padding: 2rem 0 0 2rem;

    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 1rem 0 1.2rem;
      font-size: 1.1rem;
    }
  }
}
/* Carbon*/
.carbon {
  width: 100%;
  height: 35rem;
  background: url('./img/carbon.jpg') no-repeat center center/cover;

  .content {
    width: 55%;
    padding: 10rem 0 0 3rem;

    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 1rem 0 1.2rem;
      font-size: 1.1rem;
    }
  }
}

/* follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 0 3rem;

  * {
    margin-right: 1rem;
  }
}

/* links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 1rem;
  padding: 3.5rem 0;

  .links-inner {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
  }
}

/* footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 1.2rem;
  padding: 2rem 0;

  .footer-inner {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;

    div {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
    }
  }
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .main-nav {
    ul.main-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      background: #f2f2f2;
      opacity: 0.9;
      padding: 2rem;
      transform: translateX(-50rem);
      transition: transform 0.5s ease-in-out;

      &.show {
        transform: translateX(-2rem);
      }

      li {
        padding: 0.8rem;
        border-bottom: #ccc solid 1px;
        font-size: 1.2rem;
      }

      li:last-child {
        border-bottom: 0;
      }
    }

    ul.right-menu {
      margin-right: 4rem;
    }
  }

  .btn {
    font-size: 1rem;
    padding: 0.6rem 0.9rem;
  }


  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox {
    .content {
      width: 50%;
      padding: 2.5rem 0 0 2rem;
  
      p {
        display: none;
      }
      h2 {
        margin-bottom: 2rem;
      }
    }
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {

  .btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }

  .home-cards {
    grid-template-columns: 1fr;
  }

  .xbox {
    .content {
      width: 50%;
      padding: 2rem 0 0 2rem;

      h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }

  .carbon {
    .content {
      width: 70%;

      h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      p {
        display: none;
      }
    }
  }
}

