body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    'nav nav nav nav'
    'sidebar main main main'
    'sidebar content1 content2 content3'
    'sidebar footer footer footer';
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

nav {
  background: #a7ffeb;
  grid-area: nav;
}

main {
  background: #84ffff;
  grid-area: main;
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
}

#content2 {
  background: #6fffda;
  grid-area: content3;
}

#content3 {
  background: #73ffba;
  grid-area: content3;
}

footer {
  background: #1de9b6;
  grid-area: footer;
}
