div {
  list-style: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: #2196F3;
    padding: 10px;
  }

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }

  .logo, .article {
    width: 20vw;
  }
  
  .header, .aside {
    width: 77vw;
  }

nav {
  height: 90%;
  margin: 10px;
  background-color: darkcyan;
}

.playvideo {
  overflow: visible;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
}

.playvideo iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.section-nav ul{
	padding: 0;
}

.section-nav li {
    display: inline-block;
    width: 15%;
}

.section-nav li img {
    width: 100%;
}

footer {
  background-color: darkkhaki;
}


@media screen and (max-width: 600px){
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  nav {
    height: 80%;
    margin: 0 auto;
    background-color: darkcyan;
  }

  .section-nav li {
    display: inline-block;
    width: 18%;
}

.logo, .article {
  width: 100vw;
}

.header, .aside {
  width: 100vw;
}

}
