* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#line3,
#line4 {
  display: flex;
  flex-wrap: wrap;
}

#line3 img {
  width: 30%;
  margin: 1.6%;
}

#line4 img {
  width: 21%;
  margin: 1.6%;
}

p {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  padding-bottom: 12px;
  margin: 1.6%;
}
